HUGGINGFACE_HUB_TOKEN=your-token

HF_HOME=/root/.cache/huggingface
TRANSFORMERS_CACHE=/root/.cache/huggingface
NAIL_HTTP_PORT=3007
NAIL_PUBLIC_BASE_URL=http://localhost:3007
NAIL_APP_BASE_PATH=/v2/app
NEXT_PUBLIC_BASE_PATH=/v2
GACHON_AUTH_DB_HOST=host.docker.internal
GACHON_AUTH_DB_PORT=3306
GACHON_AUTH_DB_USER=root
GACHON_AUTH_DB_PASSWORD=
GACHON_AUTH_DB_NAME=mis_db
GACHON_REDIS_HOST=host.docker.internal
GACHON_REDIS_PORT=6379
GACHON_SESSION_SECRET=
GACHON_BASE_URL=http://localhost:3000
